[init]
  defaultBranch = main
[user]
  email = {{ .git.email }}
  name = {{ .git.name }}
[alias]
  l = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%ah%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  wc = show --name-status
[core]
  autocrlf = input        # use CRLF endings in Windows checkouts
  editor = nvim
[commit]
  verbose = true          # show diff in commit message editor
[help]
  autocorrect = prompt    # guesses mistyped command and prompts
[push]
  default = simple        # pushes current branch to same name on remote
  autoSetupRemote = true  # sets upstream automatically if unset
  followTags = true       # push tags upon every push
[diff]
  colorMoved = plain      # show code movement in different colors
  mnemonicPrefix = true   # replaces diff headers a/ and b/ with i/ (index), w/ (work dir), c/ (commit)
  renames = true          # detects if a file has been renamed
[branch]
  sort = -committerdate   # sorts list by most recent commit date
[fetch]
  prune = true
  pruneTags = true
