{{ if eq .host "work" }}

# enable azure plugin
plugins+=(azure)

{{ if .workstation.code.path }}
# to make code callable from wsl
[ -f {{ .workstation.code.path }} ] && alias code='{{ .workstation.code.path }}'
{{ end }}

# aws aliases
alias aws_region="aws configure get region"
alias aws_account="aws sts get-caller-identity --query Account --output text"

# add entries to path
[ -d /home/viktor/.local/bin ] && export PATH="$PATH:/home/viktor/.local/bin" # dagger resides here
[ -d /usr/local/go/bin ] && export PATH="$PATH:/usr/local/go/bin"             # go binary
[ -d /opt/node/bin ] && export PATH="$PATH:/opt/node/bin"                     # node binary

# aws-cli autocompletion
autoload bashcompinit && bashcompinit
autoload -Uz compinit && compinit
[ -f /usr/local/bin/aws_completer ] && complete -C '/usr/local/bin/aws_completer' aws
{{ end }}
